.activies-box{
    background-color: rgb(103, 113, 189);
    width: 100%;
    font-size: 1.3em;
    
}
.activities-header{
    background-color: rgb(235, 142, 142);
    font-size: 1.4em;
}

.activities-list-header{
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-title1 {
    /* flex: 1; */
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.btn1{
    /* flex: 0.1; */
    
    margin: auto;
}

.activities-table{
    background-color: aqua;
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.activities-table, tr, td {
    border: 1px solid black;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.activities-table-header{
    background-color: rgb(149, 149, 235);
    width: 100%; 
}
