.App-header{
    display: center;
    text-align: center;
}
.main-div{
    background-color: rgb(201, 176, 225);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    column-gap: 5px;
}